* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border: 2px solid; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.box {
  /* background-color: green; */
  width: 300px;
  height: auto;
  padding: 0 20px;

  border-radius: 10px;
}

/* personal image svg */
.personal-img {
  width: 200px;
  text-align: center;
}

/* Main content styling */
h3 {
  text-transform: uppercase;
  margin: 30px;
  font-weight: 500;
  color: orange;
}

p {
  text-transform: uppercase;
  color: black;
  margin: 0 15px;
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

hr {
  text-align: center;
  margin: 4px;
  box-sizing: border-box;
  border: 1px solid orange;
}

h1 {
  text-transform: uppercase;
  margin: 15px auto;
  margin-bottom: 7px;
  font-weight: bold;
  color: darkorange;
}

button {
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
  background: none;
  border: 1px solid orange;
  border-radius: 10px;
  width: 130px;
  transition: background-color 0.5s linear;
}

/* button hovering */
button:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
}

/* selected button */
.active {
  background-color: orange;
  color: white;
}

.smallTeam {
  background-color: #f9f2e3;
  border: 2px solid orange;
  cursor: pointer;
}
@media (max-width: 895px) {
  .box {
    margin-bottom: 35px;
  }
  body {
    background-color: #fcf9f6;
  }
}

@media (min-width: 1200px) {

  .body {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: red;
  }
}
