/* adding margin to the nav element wrapping the navbar */
nav {
  margin: 0px 32.3333px;
}

/* company logo syling */
.logo-image {
  height: auto;
  width: 130px;
}

/* change the body background-color to  #eafaf1 */
body {
  background-color: #eafaf1;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* styling the links inside the navbar */
.navbar ul li a {
  color: #00ad6a;
  font-size: 16px;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 650;
  line-height: 24px;
}

/* nav-links on hovering/ when hover the color changes to black  */
.navbar ul li a:hover {
  color: #080c16;
}

/* styling the special sign-up button button for animation effect */
.special-sign-up {
  border: 2px solid;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #00ad6a;
  transition: all 0.2s ease; /* Smooth transition */
}
.special-sign-up:hover {
  box-shadow: -5px 5px #00ad6a;
  transform: translate(4px, 2px);
  cursor: pointer;
}

/* header call to action */
.header h1 {
  font-weight: bold;
  font-size: 3.7em;
}

/*  navbar collapsing */
.navbar-collapse {
  justify-content: flex-end;
}

.collapse ul li a {
  margin: 0 11px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .special-sign-up {
    display: none;
  }
}
